include encounteredchampion

mixin championrecord_format(championRecord)
    div.championRecord
        div.championRecord__championPlayed
            div.championPlayed__profile 
                div.profile__championName
                    h3 #{championNameById[championRecord.championId][1]}
                div.profile__championPic
                    img(src=`http://ddragon.leagueoflegends.com/cdn/11.18.1/img/champion/${championNameById[championRecord.championId][0]}.png` alt="champion image" width="80" height="80")
                div.profile__championKDA
                div.profile__championWinrate
                div.profile__championNumPlayed
                    if championRecord.numOfGamesPlayed > 1
                        span #{championRecord.numOfGamesPlayed} Games
                    else
                        span #{championRecord.numOfGamesPlayed} Game
            div.championPlayed__notableEncounters
                div.notableEncounters__friend 
                div.notableEncounters__enemy
        div.profile__encounteredChampionsTable
            h4 champions that <em>#{championNameById[championRecord.championId][1]}</em> had encountered 
            span champion playedAgainst playedWith winAgainst winWith winRateAgainst winRateWith
            each encounteredChampion in Object.fromEntries(championRecord.encounteredChampionsList)
                +encounteredchampion_format(encounteredChampion)
            else 
                span.encounteredChampionsTable__empty-message encountered champion not found ❌
        