mixin encounteredchampion_format(encounteredChampion)
    tr 
        td 
            img(src=`http://ddragon.leagueoflegends.com/cdn/11.18.1/img/champion/${championNameById[encounteredChampion.id][0]}.png`)
        td.champion=championNameById[encounteredChampion.id][1]
        td=encounteredChampion.playedAgainst
        td=encounteredChampion.playedWith
        td=encounteredChampion.winAgainst
        td=encounteredChampion.winWith
        td #{(encounteredChampion.winRateAgainst*100).toFixed()}%
        td #{(encounteredChampion.winRateWith*100).toFixed()}%