mixin encounteredchampion_format(encounteredChampion)
    div.encounteredChampion
        div.encounteredChampion__data 
            div #{encounteredChampion.id} #{encounteredChampion.playedAgainst} #{encounteredChampion.playedWith} #{encounteredChampion.winAgainst} #{encounteredChampion.winWith} #{encounteredChampion.winRateAgainst} #{encounteredChampion.winRateWith}