include mixins/championrecord

doctype html 
html(lang="ko")
    head 
        title lol stats 
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        a(href="/") home
        form(method="GET").search__form
            input(placeholder="소환사 이름으로 검색" name="username2" type="text")
            button 
                i.fas.fa-search 
        div.summoner
            if summoner
                div.summoner__basicInfo
                    h1 #{summoner.name}
                    img(src=`http://ddragon.leagueoflegends.com/cdn/11.18.1/img/profileicon/${summoner.profileIconId}.png` alt="profile icon" width="110" height="110")
                    h4 level: #{summoner.summonerLevel}
                    h3 Ranked Solo: #{summonerRankInfo.soloTier} #{summonerRankInfo.soloRank}
                    img(src=`https://opgg-static.akamaized.net/images/medals/${summonerRankInfo.soloTier.toLowerCase()}_${summonerRankInfo.soloRank}.png` alt="tier emblem" width="120" height="120")
                    span #{summonerRankInfo.soloLeaguePoints}LP
                div.summoner__championRecords
                    h2 Champions Played by #{summoner.name}
                    div.summoner__championRecords__table 
                        each championRecord in Object.fromEntries(champion_records)
                            +championrecord_format(championRecord)
                        else 
                            span.empty-message Champion records not found ❌
            else
                span the summoner is not not found

    script(src="https://kit.fontawesome.com/9f340f31fc.js" crossorigin="anonymous")
    script
        include ../index.js
