include mixins/championrecord

doctype html 
html(lang="ko")
    head 
        title lol stats 
        link(rel="stylesheet" href="/assets/css/styles.css")
    body
        header
            a(href="/").homelink 괴물.GG
            //- 이거 랜덤으로 monster.gg혹은 괴물.gg로 바뀌도록 하면 좋을듯
            form(method="GET").search__form
                input(placeholder="소환사 이름으로 검색" name="username_search" type="text")
                button 
                    i.fas.fa-search 
        if summoner
            div.summoner__basicInfo
                div.basicInfo__profileIconImg
                    img(src=`http://ddragon.leagueoflegends.com/cdn/11.18.1/img/profileicon/${summoner.profileIconId}.png` alt="profile icon")
                div.basicInfo__others
                    div.others__nameLevel
                        div.summonerName#basicInfo__summoner-name(data-username=summoner.name) #{summoner.name}
                        div.level level: #{summoner.summonerLevel}
                    div.others__rankInfo
                        div.rankInfo__tierEmblemImg 
                            img(src=`https://opgg-static.akamaized.net/images/medals/${user_db.soloRankTier.toLowerCase()}_${user_db.soloRankRank}.png` alt="tier emblem")
                        div.rankInfo__texts
                            div.rankType Ranked Solo 
                            div.tier 
                                div.tier__tier #{user_db.soloRankTier} #{user_db.soloRankRank}
                                div.tier__lp #{user_db.soloRankLeaguePoints} LP
                            div.winlose #{user_db.soloRankWins}승 #{user_db.soloRankLoses}패 (#{((user_db.soloRankWins/(user_db.soloRankWins+user_db.soloRankLoses))*100).toFixed()}%)
                div.update
                    div.updateBtn
                        button#update__button update
                    div.update__lastUpdateTime
                        span#lastUpdateTime__converted=user_db.lastUpdateTime
                
            //- div Champions Played by #{summoner.name}
            div.summoner__championRecords
                each val, index in champion_records_sorted
                    +championrecord_format(user_db.championRecords11.get(val[0]), index)
                else 
                    span.empty-message Champion records not found ❌
        else
            span the summoner is not not found

    script(src="/assets/js/main.js")
    script(src="/assets/js/lastUpdateTime.js")
    script(src="/assets/js/tableSort.js")
    script(src="/assets/js/update.js")
    script(src="/assets/js/foldAndUnfold.js")
    script(src="https://kit.fontawesome.com/9f340f31fc.js" crossorigin="anonymous")
